<h4>{{city.name}}'s details</h4>
  <h4>Country: {{city.country}}</h4>
  <ul>
    {{#each city.rentals as |rental|}}
      <li>{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
    <button {{action 'destroyCity' city}}>delete</button>
